#studio-wrapper {
  width: 100%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h2 {
  color: white;
}

.studio-container {
  height: 300px;
}
