<div>
  <nav>
    <div id="logo-container">
      <h2>
        <a id="logo" routerLink="/">
          REDD SOUND STUDIOS
        </a>
      </h2>
      <div id="pro-record">
        <span>
          professional recording
        </span>
      </div>
    </div>

    <div id="links">
      <a routerLink="/" class="nav-link">home</a>
      <a routerLink="/studio" class="nav-link">studio</a>
      <a routerLink="/media" class="nav-link">media</a>
      <a routerLink="/contact" class="nav-link">contact</a>
    </div>
  </nav>

  <div id="banner-wrapper">
    <div id="banner-photo"></div>
  </div>

  <div id="router-wrapper">
    <router-outlet></router-outlet>
  </div>

  <div id="scroll-to-top" (click)="scrollToTop()">
    <i class="material-icons">
      keyboard_arrow_up
    </i>
  </div>
</div>
